@model IEnumerable<Studfest.Models.Product>


@{
    ViewData["Title"] = "Home Page";

}


<link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="~/css/login.css">


<link href="~/css/card.css" rel="stylesheet" />
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>



<div class="d-flex justify-content-center mb-4">
    <h1 class="section-title px-5"><span class="px-2">What's New</span></h1>
</div>
<div class="row">


    <div class="row col-lg-12 justify-content-lg-start">
        @foreach (var n in Model)
        {
            <div class="col-lg-2">
                <div class="card-container col-lg-3">

                    <a href="/" class="hero-image-container">
                        <div class=" position-absolute top-0 start-0 p-2" style="height: 30px ;border-radius: 5px; background-color: #008cff;"><h6 class="text-white">Sale</h6></div>
                        <img class="hero-image" height="200" src="@n.ImageLink" alt="Spinning glass cube" />
                    </a>
                    <main class="main-content">
                        <div class="custom-div">
                        </div>
                        <h6 class="description"><a href="#">@decriptionLimiter(n.ProductDescription)</a></h6>
                        <div class="custom-div">
                        </div>
                        <h6 class="price">R @n.ProductPrice</h6>
                        <div class="mt-2" style="font-size: 10px">
                            <i class="fi fi-ss-star" style="color: yellowgreen"></i> 4.8 (12)
                        </div>
                    </main>

                </div>
            </div>

        }

    </div>

</div>




<div class="container-fluid bg-dark text-white my-5">
    <div class="row justify-content-md-center py-5 px-xl-5">
        <div class="col-md-6 col-12 py-5">
            <div class="text-center text-white mb-2 pb-2">
                <h1 style="color: white"><span class="px-2 text-white">Stay Updated With Student Fest Events</span></h1>
                <p>Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam labore at justo ipsum eirmod duo labore labore.</p>
            </div>
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control border-white p-4" placeholder="Email Goes Here">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@{

    string decriptionLimiter(string decription)
    {
        if(decription.Length > 50)
        {
            return decription.Substring(0, 50);
        }
        else
        {
            return decription;
        }
    }

}
<!-- Subscribe End -->
